<nav>
    <div id="menuBtn">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
    </div>
    <div>
        <ul>
           <li> <a href="/">Calendar</a></li>
            <li> <a href="/views/notePage.ejs">Notes</a></li>
            <li>Dark/lightmode</li>
        </ul>
    </div>
</nav>