@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FCFCFC;
}

header {
    margin: 16px 0 10px 60px;
    position: relative;
}

header h1 {
    color: #FD97B7;
    font-size: 18px;
    font-weight: 500;
}

header p {
    color: #FFDEE7;
    font-size: 14px;
    font-weight: 300;
}

nav #menuBtn {
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;
}

/* main {
    margin: 30px 16px 0 16px;

} */

main #monthWeek {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 16px 16px;
}

main #month {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main #week span {
    margin: 10px;
}

main #days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    font-size: 14px;

    margin: 10px 16px 5px 16px;

}

main #date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    margin: 0px 16px 20px 16px;
}

main #eventListContainer {
    background-color: #FBEFE3;
    width: 100vw;
    border-radius: 40px 40px 0px 0px;
}
main #eventList {
    padding: 15px 10px;
}

main #eventList .eventListDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 15px;
    position: relative;
    margin: 20px 20px 20px 25%;
    background-color: #FEC4AC;
    padding: 15px;
    font-size: 12px;
}

main #eventList .eventListDiv #eventTime {
    color: #FE9D70;
    font-weight: 700;
}

main #eventList .eventListDiv #eventTitle {
    color: #FCFCFC;
}

.removeEvent {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FE9D70;
}

.editEvent {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FE9D70;
}
div #formPopUp {
    background-color: #FBEFE3;
    display: none;
}

div #formPopUp form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
}



footer {

    background-color: #FFE8D0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "a"
        "b";
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8%;
}

footer #addBtn {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FE9D70;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #addBtn i {
    font-weight: 300;
    color: #FFE8D0;
}

footer #copy {
    color: #FEC4AC;
    grid-area: b;
    align-self: end;
    justify-self: end;
    margin-right: 2%;
    margin-bottom: 2%;
    font-size: 12px;
}